{{ APP_DIR }}/log/*.log {
    size=500M
    rotate 10
    compress
    missingok
    notifempty
    create 640 {{ APP_USER }} {{ APP_USER }}
    sharedscripts
    postrotate
        /usr/bin/killall -HUP supervisord 2>/dev/null || true
    endscript
}
